<h1>投稿一覧</h1>
<!--以下１行ミス。「|lists|」の部分-->
<!--%= @lists.each do list|%-->
<!--%= @lists.each do |list| %-->
<% @lists.each do |list| %> <!--上１行から「＝」を消した-->
<!--「＝」があると@listsそのものが出力される-->

<!--eachメゾット-->
  <!--配列やハッシュがもつ要素を順番に取得して処理を実行したい時に使用-->
  <!--@lists.eachと記述することで、Listレコードの数だけ繰り返し処理-->

 <p>タイトル</P> 
 <!--<span>< %= list.title % ></span>-->
   <!--各レコードの内容は、listという変数に格納-->
   <!--ここでは、list.[カラム名]と記述
   <!--投稿のタイトルが表示-->
 
 <!--上記を下記に変更-->
 <span>
  <%= link_to list.title,"/lists/#{list.id}" %>
  <!--< %= link_to 表示させるテキスト , リンク先URL [,オプション] % >-->
 </span>

<% end %>
