/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*以下アプリケーションのレイアウトを整える作業*/

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/*フォントをCSSで呼び出し*/
/*カラーやサイズの変更とコメントの配置の調整*/
header,h1,nav,list-comment{
 font-family: 'Kaushan',cursive,sans-serif;
}

header{
 width: 90%;
 padding: 15px 0;
 margin: 30px auto 0;
 text-align: center;
 border-top: solid 5px #000;
}

header .headline{
 font-size: 32px;
}

nav{
 width: 880px;
 margin: 0 auto;
 border-top: solid 0.7px #000;
 border-bottom: solid 0.7px #000;
}

.nav-list{
 text-align: center;
 padding: 10px 0;
 margin: 0 auto;
}

.nav-list-item{
 list-style: none;
 display: inline-block;
 margin: 0 20px;
}

.main{
 width: 880px;
 margin: 0 auto;
}

.list-wrap{
 width: 880px; /*自分で追加*/
 margin: 0 auto; /*自分で追加*/
 display: flex;
 flex-wrap: wrap;
 /*justify-content: center; */
 /*自分で追加*/
}

.list-box{
 width: 200px;
 height: 250px;
 margin: 10px;
 /*以下コメントの配置の調整*/
 /*positionプロパティを指定したことで、
 　画像を投稿しない場合でもコメントの位置が
 　画像がある投稿と揃う*/
 /*親要素に「relative」、子要素に「absolute」を指定*/
 /*子要素の位置を親要素の範囲内で指定できる*/
 position: relative;
}

.list-comment{
 width: 200px;
 /*以下コメントの配置の調整*/
 position: absolute;
 left: 0;
 bottom: 0;
}

.list-body{
 /*CSSで文字を省略して表示・・・◎*/
 /*画像に対するコメントの長さがバラバラのとき、
 　ここまでのコードでは綺麗に整えたレイアウトが
 　崩れてしまいます。*/
 display: block; /*・・・◎*/
 
 /*以下フォントカラーやサイズの変更*/
 color: gray;
 font-size: 12px;
 /*ここまで*/
 
 overflow: hidden; /*・・・◎*/
 white-space: nowrap; /*・・・◎*/
 text-overflow: ellipsis; /*・・・◎*/
 
}

/*以下カラーやサイズの変更*/ 
.list-title{
 display: block; /*・・・◎*/
 font-size: 18px;
 overflow: hidden; /*・・・◎*/
 
 /*テキストを折り返し表示させないようにするプロパティ*/
 white-space: nowrap; /*・・・◎*/
 
 /*領域をはみ出したテキストを三点リーダー（...）で省略表示するプロパティ*/
 text-overflow: ellipsis; /*・・・◎*/
}